/*('https://fonts.googleapis.com/css?family=Lato:400,700');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700');
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: rgb(61, 61, 61);
    
}

/*---navbar--*/
.navbar ul li ul li a{
    color: rgb(10, 10, 10);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.navbar ul li ul li a:hover{
    color:#3b083b;
    background-color: #973f9750;
    
    
}
.navbar {
  text-transform: uppercase;
  font-weight:600;
  padding-top: 10px;
font-size: .9rem;
text-align: center;
width: 100%;
  letter-spacing: .1rem;
  background:white!important;
  color:black;
  
} 
ul {
list-style-type:none;
margin:0;
padding:0;
font-weight: 200px;
text-align: center;
color:black;
}

li a {
display:block;
width:100%;
height:50px;
font-weight: 500;
line-height:37px;
text-align: left;
font-family:'Montserrat', sans-serif;
color: black;
background: rgb(255, 255, 255);
font-size: .8.5rem;
}

@media (min-width: 992px){
  .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
      border-right: 0;
      border-bottom: .3em solid transparent;
      border-left: .3em solid;
  }

  .dropdown-menu .dropdown-menu{
    margin-left:0; margin-right: 0;
  }

  .dropdown-menu li{
    position: relative;
  }
  .nav-item .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }
  .nav-item .submenu-left{ 
    right:100%; left:auto;
  }

  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
}
/*nav bar end*/

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.btn {
  background-color:#210F21;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  transition: 0.3s;
}
.btn:hover{
    background-color:#ffffff;
    color:black;
    font-size: 16px;
    border-radius: 35px;
    border-style: solid;
    border-width: 1px;
}
.btncfp{
    background-color:#210F21;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.3s;
     width: 203px;
     height: 45px;
}
.btncfp:hover{
    background-color:#ffffff;
    color:black;
    font-size: 16px;
    border-radius: 35px;
    border-style: solid;
    border-width: 1px;
}
.btnkerala {
    background-color:#210F21;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    transition: 0.3s;
  }
  .btnkerala:hover{
    background-color:#ffffff;
    color:black;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 35px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* imp dates*/
.container{
    margin-top: 0%;
    align-items:center ;
}

.card{
    align-items:left;
}
.card:hover{
    box-shadow: -1px 9px 30px -12px rgba(0,0,0,0.60);
    box-shadow: -1px 9px 30px -12px rgba(0,0,0,0.60);
    box-shadow: -1px 9px 30px -12px rgba(0,0,0,0.60);

}
/*cards*/

*{
    margin: 0;
    padding: 0;
    

}
.cards{
    font-size: 15px;
    margin:0 0 30px 0;
    text-align: center;
    
}
@media (min-width: 992px){
   .cards{
    padding: 60px;
   }
}
.dates{
    display:flex;
    align-items: center;
}
.date h2{
    font-size: 20px;
}
.date{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border:2px solid black;
    border-radius: all .3s ease;
}
.date > *{
    flex: 1 1 100%;
}
.date p{
    font-size: 17px;
}
.date a{
    margin: 22px 0;
    background: #210F21;
    color: wheat;
    border: 1px solod #210F21;
    padding: 5px 0;
    border-radius: 35px;
    transition: .3s eaes;
}
@media (max-width:900px){
    .dates{
        display: flex;
        flex-direction: column;
    }
}
.date:hover{
    color: white;

}
.date:hover{
    background: #210F21 ;
}
.date:hover a{
    background: white;
    color: black;
}
.date a:hover{
    border-radius: 4px;
}


/*footer*/

footer .main-footer{	padding-top: 25px ;	background: #050606;}
footer ul{	padding-left: 0;	list-style: none;}
 footer li a{
    background-color: transparent;
    text-align: left;
    font-size: 13px;
    
}

/* Copy Right Footer */
.footer-copyright {	background: #050606;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #ffffff;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #ffffff;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #7c7c7c;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #60d611;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 #050606 ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
    Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;text-align: center;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 0px;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; }
.widget.subscribe p{	margin-bottom: 18px;}
.widget li{ line-height: 80%;}
.widget li a{	color: #707070;text-align: center; }
.widget li a:hover{	color: #7D287D;}
.widget-title {margin-bottom: 20px;font-size: 20px;font-weight: 600;}
.widget-title span {background: #ffffff none repeat scroll 0 0;display: block; height: 2px;margin-top: 25px;position: relative;width: 40%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #ffffff;}
footer h5{
    color: white;
}
footer p{
    color: white;
    font-size: 15px;
}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ffffff;}
ul.social-footer2 li a {display: block;	height:50px;width: 50px;text-align: center;}

@media (min-width: 992px){
.widget{	padding: 20px;	margin-bottom: 40px;text-align: left;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 0px;
    box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget ul li{line-height: 60%;}
.widget li a{	color: #707070;text-align: left;}
.widget li a:hover{	color: #7D287D;}
.widget-title {margin-bottom: 20px;font-size: 20px;font-weight: 600;}
.widget-title span {background: #ffffff none repeat scroll 0 0;display: block; height: 2px;margin-top: 25px;position: relative;width: 40%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: left;	background: #ffffff;}
.social{
    float: left;
}
}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
